# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
.venv/
venv/
env/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# Python build / packaging
# =========================
build/
dist/
*.egg-info/
.eggs/

# =========================
# Testing
# =========================
.pytest_cache/
.coverage
htmlcov/

# =========================
# Logs
# =========================
*.log

# =========================
# Docker
# =========================
docker-compose.override.yml

# =========================
# Database
# =========================
*.sqlite3
*.db


# =========================
# IDE / OS
# =========================
.vscode/
.idea/
.DS_Store
Thumbs.db

# =========================
# Secrets (extra biztonság)
# =========================
*.pem
*.key
*.crt
